In [1]:
my_frnds = ['prants', 'shanii']
my_frnds
type(my_frnds)

list

In [3]:
print('Hello world')

Hello world

In [1]:
p = "i don't have that"
p

"i don't have that"

In [4]:
len("hello \nworld")

12

In [5]:
mystring = "Hello World"

In [6]:
mystring

'Hello World'

In [7]:
mystring[0]

'H'

In [8]:
mystring[5]

' '

In [9]:
mystring[9]

'l'

In [12]:
mystring[10]

'd'

In [14]:
x = 'Hello World'

In [15]:
x.count

In [16]:
x.isupper()

False

In [17]:
x.upper()

'HELLO WORLD'

In [18]:
x.lower()

'hello world'

In [19]:
x.upper

In [20]:
x.split()

['Hello', 'World']

In [21]:
name = 'Nisha'
print(f'name is {name}')

name is Nisha

In [22]:
name = 'sam'
age = 3
print(f'name is {name} and age is {age}')

name is sam and age is 3

In [1]:
mysets = set()

In [2]:
mysets

set()

In [5]:
mysets.add(2)

In [6]:
mysets

{2}

In [7]:
mysets.add(5)

In [8]:
mysets

{2, 5}

In [9]:
list = [5,4,5,2,2,4,1,1,3]

In [10]:
set(list)

{1, 2, 3, 4, 5}

In [11]:
set('mississppi')

{'i', 'm', 'p', 's'}

In [12]:
1 == '1'

False

In [13]:
1 == 1

True

In [14]:
type(True)

bool

In [15]:
b

NameError: name 'b' is not defined

In [16]:
b = None

In [17]:
b

In [18]:
mysets = set()

In [19]:
mysets

set()

In [20]:
mysets.add(1, 2 , 3)

TypeError: add() takes exactly one argument (3 given)

In [21]:
mysets.add([1,2,3])

TypeError: unhashable type: 'list'

In [22]:
list = [1,2,3]

In [23]:
set(list)

{1, 2, 3}

In [25]:
set([1,1,2,3])

{1, 2, 3}

In [26]:
%%writefile myfile.txt
Hello this is 1st line
and this is 2 nd line

Writing myfile.txt

In [29]:
myfile1 = open('myfile.txt')

In [30]:
myfile1

In [31]:
pwd

'/home/nishaa/Desktop/python_practise'

In [32]:
myfile.read()

'Hello this is 1st line\nand this is 2 nd line\n'

In [33]:
myfile.read()

''

In [34]:
myfile.seek(0)

0

In [35]:
myfile.read()

'Hello this is 1st line\nand this is 2 nd line\n'

In [36]:
myfile.readline()

''

In [37]:
myfile.seek(0)

0

In [38]:
myfile.readline()

'Hello this is 1st line\n'

In [39]:
myfile.readlines()

['and this is 2 nd line\n']

In [40]:
myfile.seek(0)

0

In [41]:
myfile.readlines()

['Hello this is 1st line\n', 'and this is 2 nd line\n']

In [45]:
with open('myfile.txt', mode='r') as f:
    print(f.read())

Hello this is 1st line
and this is 2 nd line

In [43]:
2.0 == 2

True

In [47]:
if 5 > 4 :
    print("greater")
else :
    print("less")

greater

In [51]:
name = 'Nisha'
if name == 'Neha':
    print("Hello Neha")
elif name == 'Nisha':
    print("Hello Nisha")
else :
    print("What is your Name")

Hello Nisha

In [54]:
mylist = [1,2,3,4,5,6,7,8]
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8

In [56]:
for num in mylist:
    if num %2 ==0:
        print("even:", num)
    else:
        print("odd", num)

odd 1
even: 2
odd 3
even: 4
odd 5
even: 6
odd 7
even: 8

In [60]:
list_sum = 0
for num in mylist:
    list_sum += num

print(list_sum)

36

In [72]:
for _ in 'Nisha':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!

In [73]:
tup = (1,2,3)

In [74]:
for item in tup:
    print(item)

1
2
3

In [75]:
mylist = [(1,2), (3,4), (5,6),(7,8)]

In [76]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [77]:
len(mylist)

4

In [78]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [82]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [85]:
my_list = [(1,4,3),(4,6,7), (7,4,5)]
for a,b,c in my_list:
    print(a)
    print(b)
    print(c)

1
4
3
4
6
7
7
4
5

In [91]:
dict = {'Nisha': 1, 'Pooja' : 2 , 'Neha': 5}
for key,value in dict.items():
    print(key)
    print(value)

Nisha
1
Pooja
2
Neha
5

In [2]:
x =0 
while x < 5:
    print(f'the current value of x is {x}')
    x +=1
else:
    print("x is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [4]:
x = [1,2,3]
for item in x :
    #comment
    pass

In [6]:
mystring = 'Nisha'
for letter in mystring:
    if letter == 's':
        continue
    print(letter)

N
i
h
a

In [3]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [5]:
from random import randint

In [8]:
randint(0,100)

54

In [1]:
input('Enter a Number here:')

Enter a Number here:50

'50'

In [3]:
result = input('What is your name: ')

What is your name: Nisha

In [4]:
result

'Nisha'

In [5]:
mystring = 'letters'
mylist = []
for letter in mystring:
    mylist.append(letter)

In [6]:
mylist

['l', 'e', 't', 't', 'e', 'r', 's']

In [10]:
st = 'Sam print only the letter that start with s in this sequence'

In [8]:
st.split()

['print',
 'only',
 'the',
 'letter',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sequence']

In [11]:
for letter in st.split():
    if letter[0].lower() == 's':
        print(letter)

Sam
start
s
sequence

In [15]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [16]:
st = 'print every word in this sequence that has an even number of letters'

In [17]:
[x for x in st.split() if len(x)%2 == 0]

['word', 'in', 'this', 'sequence', 'that', 'an', 'even', 'number', 'of']

In [20]:
for num in range(1,101):
    if num%3 ==0 and num%5 ==0 :
        print("FizzBuzz")
    elif(num%3 == 0):
        print("Fizz")
    elif(num%5 ==0):
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
x ="awesome"

In [2]:
mylist = [1,2,3]

In [5]:
mylist.append(4)

In [6]:
mylist

[1, 2, 3, 4]

In [7]:
mylist.pop()

4

In [12]:
for i in range(5):
    print((i+1)* "* ")

*
* *
* * *
* * * *
* * * * *

In [13]:
l = [2,5,7,8,4,3]
key =5
for i in range(len(l)):
    if key == l[i]:
        print(key, "is at index of", i)
        break

5 is at index of 1

In [14]:
len(l)

6

In [24]:
num = [8,8,8,8]
x =1 
for i in range(1, len(num)):
    x *= i
print(x)

6

In [2]:
sets = {3,4,5}
sets.update([1,2,3])
print(sets)

{1, 2, 3, 4, 5}

In [4]:
def say_hello(name):
    print("Hello " + name)

In [5]:
say_hello("Nisha")

Hello Nisha

In [6]:
def add_num(num1, num2):
    return num1+num2

In [8]:
result = add_num(5,6)

In [9]:
result

11

In [15]:
def even_check(number):
    return number %2 == 0

In [16]:
even_check(20)

True

In [17]:
even_check(21)

False

In [7]:
def check_even_num(num_list):
    even_num = []
    for number in num_list:
        if number %2 == 0:
            even_num.append(number)
        else:
            pass
        
    return even_num

In [8]:
check_even_num([5,2,4,7])

[2, 4]

In [9]:
stock_prices = [('apple', 300),('goog',400), ('msft', 100)]

In [11]:
for item in stock_prices:
    print(item)

('apple', 300)
('goog', 400)
('msft', 100)

In [13]:
for tricker,price in stock_prices:
    print(price+(0.1*price))

330.0
440.0
110.0

In [21]:
work_hours = [('Nisha', 500), ('Pooja', 400), ('Neha', 300)]

In [22]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_the_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_the_month = employee
        else:
            pass
        
    return (employee_of_the_month, current_max)

In [23]:
employee_check(work_hours)

('Nisha', 500)

In [24]:
result = employee_check(work_hours)

In [25]:
result

('Nisha', 500)

In [26]:
name,value = employee_check(work_hours)

In [27]:
name,value

('Nisha', 500)

In [28]:
name,value,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [29]:
item = employee_check(work_hours)

In [30]:
item

('Nisha', 500)

In [47]:
example = [1,2,3,4,5,6,7]

In [48]:
from random import shuffle

In [49]:
result = shuffle(example)

In [56]:
result

[5, 2, 1, 4, 7, 3, 6]

In [61]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [62]:
result = shuffle_list(example)

In [63]:
result

[4, 5, 2, 6, 3, 1, 7]

In [65]:
def myfunc(name):

    print('Hello {}'.format(name))

myfunc('Test')

Hello Test

In [66]:
def myfunc(a):
    if a== True:
        return 'Hello'
    elif a == False:
        return 'Goodbye'
    else:
        pass

In [67]:
myfunc(True)

'Hello'

In [68]:
myfunc(False)

'Goodbye'

In [71]:
myfunc('nisha')

In [72]:
def myfunc(num1, num2):
    return num1+num2

In [73]:
myfunc(5,6)

11

In [74]:
def is_even(num):
    if num %2 ==0:
        return True
    else:
        return False

In [75]:
is_even(10)

True

In [76]:
is_even(11)

False

In [80]:
def is_greater(num1, num2):
    if num1 > num2:
        return True
    else:
        return False

In [81]:
is_greater(5, 6)

False

In [82]:
is_greater(11,3)

True

In [91]:
def myfunc(*args):
    print(args)

In [92]:
myfunc(5,2,6)

(5, 2, 6)

In [101]:
def my_func(*args):
    for item in args:
        print(item)

In [103]:
my_func(1,4,5,6)

1
4
5
6

In [121]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [122]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [3]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [4]:
myfunc(1,4,5,6,fruit ='orange', food='eggs', animal='dog')

(1, 4, 5, 6)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 1 eggs

In [5]:
def myfunc(*args):
    return sum(args)

In [6]:
myfunc(3,5,6,2)

16

In [15]:
def myfunc(*args):
    mylist = []
    for num in args:
        if num %2 ==0:
            mylist.append(num)
    return mylist

In [16]:
myfunc(5,6,7,8)

[6, 8]

In [24]:
def myfunc(string):
    mylst = []
    for letter in range(len(string)):
        if letter%2 == 0:
            mylst.append(string[letter].upper())
        else:
            mylst.append(string[letter].lower())
    return ''.join(mylst)

In [25]:
myfunc('Nisha')

'NiShA'

In [32]:
def myfunc(st):
    return ''.join([st[i].upper() if i%2==0 else st[i].lower() for i in range(len(st))])

In [33]:
myfunc('Nisha')

'NiShA'

In [34]:
i = 0
while i < 3:
    print(i)
    i++
    print(i+1)

SyntaxError: invalid syntax (<ipython-input-34-1886864a9e87>, line 4)

In [43]:
def animal_crackers(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [44]:
animal_crackers('Levelheaded Llama')

['levelheaded', 'llama']

True

In [46]:
animal_crackers('Crazy cat')

['crazy', 'cat']

True

In [34]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
         return True
    else:
        return False

In [35]:
makes_twenty(1,5)

False

In [23]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [24]:
has_33([1,3,3])

True

In [25]:
has_33([3,3,1])

True

In [26]:
has_33([3,3,3])

True

In [27]:
has_33([1,3,5,3])

False

def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [29]:
paper_doll('Nisha')

'NNNiiissshhhaaa'

In [34]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [36]:
summer_69([1,3,5])

9

In [37]:
summer_69([4,5,6,7,8,9])

9

In [38]:
summer_69([2,1,6,9,11])

14

In [41]:
 def spy_game(nums):
        code = [0,0,7, 'x']
        for num in nums:
            if code[0] == num:
                code.pop(0)
            
        return len(code) == 1

In [42]:
spy_game([1,2,4,0,0,7,5])

True

In [43]:
spy_game([3,5,6,2])

False

In [21]:
def square(num):
    return num**2

In [22]:
my_nums = [1,2,3,4,5]

In [23]:
map(square,my_nums)

In [24]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [25]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [26]:
names =['Nisha', 'Pooja', 'Neha']

In [29]:
list(map(splicer,names))

['N', 'P', 'EVEN']

In [30]:
def even_check(num):
    return num%2==0

In [31]:
mynums = [1,2,3,4,5,6]

In [32]:
list(map(even_check,mynums))

[False, True, False, True, False, True]

In [33]:
list(filter(even_check,mynums))

[2, 4, 6]

In [44]:
square = lambda num : num**2

In [47]:
square(5)

25

In [48]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [5]:
name = 'THIS IS A GLOBAL STRING'

def greet():

    name = 'sammy'
    
    def hello():
        name = 'I AM A LOCAL'
        print('Hello '+name)
        
    hello()
    
greet()

Hello I AM A LOCAL

In [10]:
def vol(rad):
    return (4/3)*3.14*(rad**3)

In [12]:
vol(2)

33.49333333333333

In [14]:
for item in range(0,5+1):
    print(item)

0
1
2
3
4
5

In [26]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} in range of low and high')
    else:
        print(f'not in range')

In [27]:
ran_check(5,2,7)

5 in range of low and high

In [2]:
def unique_number(my_list):
    seen_number = []
    for number in my_list:
        if number not in seen_number:
            seen_number.append(number)
            
    return seen_number

In [3]:
unique_number([1,1,1,1,2,2,2,3,3,3,4,4,5,5,5])

[1, 2, 3, 4, 5]

In [4]:
def palindrome(s):
    s = s.replace(' ','')
    
    return s == s[::-1]

In [5]:
palindrome('Nisha')

False

In [6]:
palindrome('nurses run')

True

In [3]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [4]:
row1 =[' ', ' ',' ']
row2 =[' ', ' ',' ']
row3 =[' ', ' ',' ']

In [5]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [6]:
row2[1] = 'x'

In [7]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'x', ' ']
[' ', ' ', ' ']

In [9]:
result = input("please Entet a value: ")

please Entet a value: 2

In [10]:
type(result)

str

In [11]:
result_int = int(result)

In [12]:
type(result)

str

In [13]:
type(result_int)

int

In [20]:
position_index = int(input("choose an index position: "))

choose an index position: two

ValueError: invalid literal for int() with base 10: 'two'

In [15]:
type(position_index)

int

In [19]:
row2[position_index]

' '

In [36]:
def user_choice():
    choice = 'WRONG'
    
    while choice.isdigit() == False:
        
        choice = input("please enter a number (0-10): ")
    
        if choice.isdigit() == False:
            print("Sorry that is not a digit")
    return int(choice)

In [37]:
user_choice()

please enter a number (0-10): nisha
Sorry that is not a digit
please enter a number (0-10): neha
Sorry that is not a digit
please enter a number (0-10): 8

8

In [1]:
game_list=[0,1,2]

In [2]:
def display_game(game_list):
    print("here is the current list")
    print(game_list)

In [3]:
display_game(game_list)

here is the current list
[0, 1, 2]

In [7]:
def positio_choice():
    
    choice = 'wrong'
    
    while choice not in ['Y','N']:
        
        choice = input("Keep playing?(Y or N): ")
        
        if choice not in ['Y','N']:
            print("sorry I dont understand, please choose Y or N ")
    
    if choice == 'Y':
        return True
    else:
        return False

In [8]:
positio_choice()

Keep playing?(Y or N): nisha
sorry I dont understand, please choose Y or N
Keep playing?(Y or N): 4
sorry I dont understand, please choose Y or N
Keep playing?(Y or N): N

False

In [7]:
from IPython.display import clear_output

def display_board(board):
    
    print(board[7]+'|'+board[8]+'|'+board[9])
    print('-|-|-')
    print(board[4]+'|'+board[5]+'|'+board[6])
    print('-|-|-')
    print(board[1]+'|'+board[2]+'|'+board[3])

In [8]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)

X|O|X
-|-|-
O|X|O
-|-|-
X|O|X

In [1]:
def user_input():
    symbol = ''
    
    while symbol != 'X' and symbol != 'O':
        symbol = input('player 1, enter between X or O ')
    
    player1 = symbol
    
    if player1 == 'X':
        player2 = 'O'
    else:
        player2 = 'X'
        
    return (player1, player2)

In [2]:
user_input()

player 1, enter between X or O 2
player 1, enter between X or O 4
player 1, enter between X or O nisha
player 1, enter between X or O X

('X', 'O')

In [17]:
from IPython.display import clear_output

def display_board(board):
    clear_output()
    print(board[7] +'|'+ board[8] +'|'+ board[9])
    print('-|-|-')
    print(board[4] +'|'+ board[5] +'|'+ board[6])
    print('-|-|-')
    print(board[1] +'|'+ board[2] +'|'+ board[3])

In [18]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)
display_board(test_board)

X|O|X
-|-|-
O|X|O
-|-|-
X|O|X

In [19]:
def place_marker(board, marker, position):
    board[position] = marker

In [20]:
test_board

['#', 'X', 'O', 'X', 'O', 'X', 'O', 'X', 'O', 'X']

In [22]:
place_marker(test_board, '$', 8)
display_board(test_board)

X|$|X
-|-|-
O|X|O
-|-|-
X|O|X

In [1]:
mylist = [1,2,3]

In [6]:
class Sample():
    pass

In [7]:
my_sample = Sample()

In [8]:
type(my_sample)

__main__.Sample

In [61]:
class Dog():
    
    species ='mammal'
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name
        
        #Expect Boolean True/False
        
    def bark(self,number):
        print("WOOF! my name is {} and the number is {}".format(self.name,number))

In [62]:
my_dog = Dog('Lab','tonny')

In [63]:
type(my_dog)

__main__.Dog

In [64]:
my_dog.species

'mammal'

In [65]:
my_dog.name

'tonny'

In [67]:
my_dog.bark(10)

WOOF! my name is tonny and the number is 10

In [89]:
class Circle():
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius=radius
        self.area = radius*radius*Circle.pi
        
    def get_circumference(self):
        return self.radius*self.radius

In [90]:
my_circle= Circle(4)

In [91]:
my_circle.pi

3.14

In [92]:
my_circle.radius

4

In [93]:
my_circle.get_circumference()

16

In [88]:
my_circle.area

50.24

In [119]:
class Animal():
    def __init__(self):
        print("ANIMAL CREATED")
    
    def who_am_i(self):
        print("I am an animal")
    
    def eat(self):
        print("I am eating")

In [128]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("DOG CREATED")
        
    def who_am_i(self):
        print("I am a Dog")
        
    def color(self):
        print("my color is black")

In [129]:
mydog = Dog()

ANIMAL CREATED
DOG CREATED

In [130]:
mydog.who_am_i()

I am a Dog

In [131]:
mydog.eat()

I am eating

In [132]:
mydog.color()

my color is black

In [133]:
class Sample():
    pass

In [134]:
mysample = Sample()

In [137]:
print(mysample)

<__main__.Sample object at 0x7fa16dd05160>

In [162]:
class Book():
    def __init__(self, title, author,pages):
        self.title = title 
        self.author=author
        self.pages=pages
    
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("Book object has been deleted")

In [163]:
mybook = Book('Python Awesome','Nisha',200)

In [164]:
print(mybook)

Python Awesome by Nisha

In [165]:
len(mybook)

200

In [166]:
del mybook

Book object has been deleted

In [182]:
class Cylinder():
    pi = 3.14
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius = radius
        
    def volume(self):
        return self.pi *self.radius*self.radius* self.height
    
    def surface_area(self):
        return 2*self.pi*self.radius*self.height + 2*self.pi*self.radius*self.radius

In [183]:
c = Cylinder(2,3)

In [184]:
c.volume()

56.519999999999996

In [186]:
c.surface_area()

94.19999999999999

In [216]:
class Account():
    
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance= balance
        
    def deposit(self, dep_amt):
        self.balance = self.balance + dep_amt
        print(f"added {dep_amt} to the balance")
        
    def withdraw(self, wd_amt):
        if self.balance >= wd_amt:
            self.balance = self.balance - wd_amt
            print("Withdrawl accepted")
        else:
            print("sorry Not enough fund") 
            
    def __str__(self):
        return f"Owner : {self.owner} \n Balance : {self.balance} "

In [217]:
a = Account('Nisha',5000)

In [218]:
a.owner

'Nisha'

In [219]:
a.balance

5000

In [220]:
print(a)

Owner : Nisha
 Balance : 5000

In [221]:
a.deposit(100)

added 100 to the balance

In [222]:
print(a)

Owner : Nisha
 Balance : 5100

In [223]:
a.withdraw(100)

Withdrawl accepted

In [224]:
print(a)

Owner : Nisha
 Balance : 5000

In [225]:
a.withdraw(5000)

Withdrawl accepted

In [226]:
print(a)

Owner : Nisha
 Balance : 0

In [227]:
a.withdraw(1)

sorry Not enough fund

In [228]:
print(a)

Owner : Nisha
 Balance : 0

In [2]:
try:
    result = 10 +10
except:
    print("Hey! it looks like you arent adding correctly!")
else:
    print("add went well!")
    print(result)

add went well!
20

In [7]:
try:
    f = open('testfile','w')
    f.write("write a test line")
except TypeError:
    print("there was a type error!")

except OSError:
    print("Hey you are an OS error")

finally:
    print("I always run")

I always run

In [1]:
def ask_for_int():
    
    while True:
        try:
            result = int(input("please provide number: "))
        except:
            print("Woops! that is not a number")
            continue
        else:
            print("Yes Thank you")
            break
        finally:
            print("Ent of try/except/finally")
            print("I will always run at the end!")

In [2]:
ask_for_int()

please provide number:
Woops! that is not a number
Ent of try/except/finally
I will always run at the end!
please provide number: 10
Yes Thank you
Ent of try/except/finally
I will always run at the end!

In [3]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
    print("type Error! watch out")

type Error! watch out

In [5]:
try: 
    x = 5
    y= 0
    z= x/y
except:
    print("Error!")
finally:
    print("All done")

Error!
All done

In [15]:
def ask():
    while True:
        try:
            n = int(input("Enter A number: "))
        except:
            print("please try again\n")
            continue
        else:
            break
    
    print("Your number square is: ")
    print(n**2)

In [17]:
ask()

Enter A number: a
please try again

Enter A number: 5
Your number square is:
25

In [9]:
#card class
#suit,rank,value
import random
suits = ('Heart', 'Diamond', 'Spades', 'Clubs')
ranks = ('Two','Three','Four', 'Five', 'Six','Seven','Eight',
          'Nine','Ten','Jack', 'Queen', 'King', 'Ace' )

values = {'Two':2,'Three':3,'Four':4, 'Five':5, 'Six':6,'Seven':7,'Eight':8,
          'Nine':9,'Ten':10,'Jack':11, 'Queen':12, 'King':13, 'Ace':14 }

In [10]:
class Card:
    
    def __init__(self,suit,rank):
        self.suit = suit
        self.rank = rank
        self.value = values[rank]
        
    def __str__(self):
        return self.rank + " of "+ self.suit

In [11]:
three_of_clubs = Card("clubs","Three")

In [12]:
three_of_clubs.rank

'Three'

In [13]:
two_hearts = Card("hearts","Two")

In [14]:
two_hearts.suit

'hearts'

In [15]:
print(two_hearts)

Two of hearts

In [16]:
two_hearts.suit

'hearts'

In [17]:
two_hearts.rank

'Two'

In [18]:
values[two_hearts.rank]

2

In [19]:
class Deck:
    def __init__(self):

        self.all_cards = []
        
        for suit in suits:
            for rank in ranks:
                
                created_card = Card(suit,rank)
                
                self.all_cards.append(created_card)

In [20]:
new_deck = Deck()

In [21]:
bottom_card = new_deck.all_cards[-1]

In [26]:
print(bottom_card)

Ace of Clubs

In [27]:
def func():
    return 1

In [28]:
func()

1

In [29]:
def hello():
    return "Hello!"

In [30]:
hello()

'Hello!'

In [31]:
greet = hello

In [32]:
greet()

'Hello!'

In [33]:
hello()

'Hello!'

In [34]:
del hello

In [35]:
hello()

NameError: name 'hello' is not defined

In [36]:
greet()

'Hello!'

In [63]:
def hello(name='Nisha'):
    print('The hello() function has been executed!')
    
    def greet():
        return '\t This is the greet() func inside hello!'
    
    def welcome():
        return '\t This is welcome() inside hello'
    
    print('I am going to return a function!!')
    
    if name =='Nisha':
        return greet
    else:
        return welcome
    
    #print(greet())
    #print(welcome())
    #print('This is the end of the hello function!')

In [64]:
my_new_func = hello('Nisha')

The hello() function has been executed!
I am going to return a function!!

In [66]:
print(my_new_func())

	 This is the greet() func inside hello!

In [69]:
def cool():
    def super_cool():
        return 'I am very cool!'
    
    return super_cool

In [70]:
some_func = cool()

In [73]:
some_func()

'I am very cool!'

In [74]:
def hello():
    return 'Hi Jose!'

In [81]:
def other(some_def_func):
    print('other code runs here!')
    print(some_def_func())

In [82]:
hello

In [83]:
hello()

'Hi Jose!'

In [84]:
other(hello)

other code runs here!
Hi Jose!

In [88]:
def new_decorator(original_func):

    def wrap_func():
        
        print('print extra code, before the original function')
        
        original_func()
        
        print('some extra code, after the original function')
        
    return wrap_func

In [92]:
def func_needs_decorator():
    print("I want to be decorated!!")

In [93]:
func_needs_decorator()

I want to be decorated!!

In [94]:
decorated_func = new_decorator(func_needs_decorator)

In [96]:
decorated_func()

print extra code, before the original function
I want to be decorated!!
some extra code, after the original function

In [99]:
@new_decorator
def func_needs_decorator():
    print("I want to be decorated!!")

In [100]:
func_needs_decorator()

print extra code, before the original function
I want to be decorated!!
some extra code, after the original function

In [101]:
def create_cubes(n):
    result = []
    for x in range(n):
        result.append(x**3)
    return result

In [105]:
for x in create_cubes(5):
    print(x)

0
1
8
27
64

In [106]:
def create_square(number):
    for num in range(number):
        yield num*num

In [109]:
list(create_square(5))

[0, 1, 4, 9, 16]

In [6]:
def gen_fibon(n):
    n1= 1
    n2=1
    for x in range(n):
        yield n1
        n1,n2 = n2,n1+n2

In [7]:
for num in gen_fibon(5):
    print(num)

1
1
2
3
5

In [8]:
import random

random.randint(1,10)

10

In [9]:
s = 'hello'

s= iter(s)
print(next(s))

h

In [14]:
from collections import Counter

In [15]:
mylist = [1,1,1,2,2,2,2,3,3,3,3]

In [16]:
Counter(mylist)

Counter({1: 3, 2: 4, 3: 4})

In [17]:
mylist = ['a','a','a','b','b']

In [18]:
Counter(mylist)

Counter({'a': 3, 'b': 2})

In [19]:
Counter('aabbbbccccggkxzc')

Counter({'a': 2, 'b': 4, 'c': 5, 'g': 2, 'k': 1, 'x': 1, 'z': 1})

In [20]:
sentence = "How many times does each word show up in this sentence with a word"

In [24]:
Counter(sentence.lower().split())

Counter({'how': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 2,
         'show': 1,
         'up': 1,
         'in': 1,
         'this': 1,
         'sentence': 1,
         'with': 1,
         'a': 1})

In [25]:
letters = 'aaaaaabbbbbbcccccccc'

In [26]:
c = Counter(letters)

In [27]:
c

Counter({'a': 6, 'b': 6, 'c': 8})

In [28]:
c.most_common()

[('c', 8), ('a', 6), ('b', 6)]

In [29]:
c

Counter({'a': 6, 'b': 6, 'c': 8})

In [30]:
list(c)

['a', 'b', 'c']

In [31]:
from collections import defaultdict

In [38]:
d ={'a':10}

In [39]:
d

{'a': 10}

In [40]:
d['a']

10

In [42]:
d['WRONG']

KeyError: 'WRONG'

In [43]:
d= defaultdict(lambda: 0)

In [44]:
d['correct'] = 10

In [45]:
d['correct']

10

In [46]:
d['WRONG KEY']

0

In [47]:
d

defaultdict(<function __main__.<lambda>()>, {'correct': 10, 'WRONG KEY': 0})

In [48]:
mytuple = (10,20,30)

In [50]:
mytuple[0]

10

In [53]:
from collections import namedtuple

In [56]:
Dog = namedtuple('Dog',['age','breed','name'])

In [57]:
Dog

__main__.Dog

In [58]:
sammy = Dog(age=5,breed='Husky',name='Sam')

In [59]:
sammy

Dog(age=5, breed='Husky', name='Sam')

In [60]:
type(sammy)

__main__.Dog

In [61]:
sammy.age

5

In [62]:
sammy.name

'Sam'

In [63]:
sammy.breed

'Husky'

In [64]:
sammy[0]

5

In [66]:
pwd

'/home/nishaa/Desktop/python_practise'

In [68]:
f = open('practice.txt','w+')
f.write('This is a test string')
f.close()

In [69]:
import os

In [70]:
os.getcwd()

'/home/nishaa/Desktop/python_practise'

In [71]:
os.listdir()

['.ipynb_checkpoints',
 'myfile.txt',
 'testfile',
 'practice.txt',
 'myfirstnotebook.ipynb',
 'testscript.py']

In [72]:
import shutil

In [73]:
shutil.move()

TypeError: move() missing 2 required positional arguments: 'src' and 'dst'

In [1]:
import datetime

In [8]:
mytime = datetime.time(2,20,1,20)

In [9]:
mytime.minute

20

In [10]:
mytime.hour

2

In [11]:
print(mytime)

02:20:01.000020

In [12]:
mytime.microsecond

20

In [13]:
type(mytime)

datetime.time

In [14]:
today = datetime.date.today()

In [16]:
print(today)

2021-03-07

In [17]:
from datetime import datetime

In [19]:
mydatetime = datetime(2021,3,7,10,55,1)

In [20]:
print(mydatetime)

2021-03-07 10:55:01

In [27]:
mydatetime=mydatetime.replace(year=2022)

In [30]:
from datetime import date

In [33]:
date1 = date(2021,11,3)
date2 = date(2020,11,3)

In [35]:
result = date1 - date2

In [37]:
type(result)

datetime.timedelta

In [38]:
result.days

365

In [40]:
datetime1 = datetime(2021,11,3,22,0)

In [41]:
datetime2 =datetime(2020,11,3,12,0)

In [42]:
datetime1 - datetime2

datetime.timedelta(365, 36000)

In [44]:
36000/60/60

10.0

In [45]:
mydiff = datetime1 - datetime2

In [47]:
mydiff.total_seconds()

31572000.0

In [48]:
import math

In [50]:
#help(math)

In [52]:
value = 4.35

In [53]:
math.floor(value)

4

In [54]:
math.ceil(value)

5

In [55]:
round(4.35)

4

In [56]:
math.pi

3.141592653589793

In [58]:
from math import pi

In [59]:
pi

3.141592653589793

In [60]:
math.e

2.718281828459045

In [61]:
math.inf

inf

In [62]:
math.nan

nan

In [63]:
math.log(math.e)

1.0

In [2]:
text = "The agent's phone number is 408-555-1234. Call soon"

In [3]:
'phone' in text

True

In [4]:
import re

In [5]:
pattern = 'phone'

In [6]:
re.search(pattern,text)

In [9]:
pattern = 'NOT IN TEXT'

In [10]:
re.search(pattern,text)

In [12]:
match = re.search('phone',text)

In [13]:
match

In [14]:
matches = re.findall('phone',text)

In [15]:
matches

['phone', 'phone']

In [16]:
len(matches)

2

In [23]:
for match in re.finditer('phone',text):
        print(match.group())

phone

In [57]:
text = 'my phone number is 408-555-1234'

In [58]:
phone = re.compile(r'(\d+)-(\d+)-(\d+)')

In [59]:
results = re.search(phone,text)

In [60]:
results.group()

'408-555-1234'

In [61]:
results.group(1)

'408'

In [62]:
results.group(2)

'555'

In [63]:
results.group(3)

'1234'

In [64]:
re.search(r'cat|dog','the cat is here')

In [66]:
re.findall(r'.at','The cat in the hat sat there.')

['cat', 'hat', 'sat']

In [67]:
re.findall(r'^\d','1 is a number')

['1']

In [68]:
re.findall(r'\d$', 'the number is 2')

['2']

In [69]:
phrase = 'there are 3 number 34 inside 5 this sentence'

In [73]:
pattern = r'[^\d]+'

In [74]:
re.findall(pattern,phrase)

['there are ', ' number ', ' inside ', ' this sentence']

In [76]:
test_phrase = 'This is a string! but it has punctuation. How can we remove it?'

In [78]:
clean = re.findall(r'[^!.?]+',test_phrase)

In [80]:
' '.join(clean)

'This is a string  but it has punctuation  How can we remove it'

In [81]:
text = 'only find the hypen-words in this sentence. but you do not know how long-ish they are'

In [85]:
pattern = r'[\w]+-[\w]+'

In [88]:
re.findall(pattern, text)

['hypen-words', 'long-ish']

In [91]:
def func_one(n):
    return [str(num) for num in range(n)]

In [92]:
func_one(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [93]:
def func_two(n):
    return list(map(str,range(n)))

In [94]:
func_two(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [95]:
import time

In [100]:
start_time = time.time()

result = func_two(100)

end_time = time.time()

elapsed_time = end_time - start_time

print(elapsed_time)

0.0002090930938720703

In [105]:
import timeit

In [106]:
 stmt = '''
 func_one(100)
 '''

In [107]:
setup = '''
def func_one(n):
    return [str(num) for num in range(n)]
'''

In [108]:
timeit.timeit(stmt, setup, number=100000)

1.5163465080004244

In [112]:
stmt2 = '''
func_two(100)
'''

In [113]:
setup2 = '''
def func_two(n):
    return list(map(str,range(n)))
'''

In [115]:
timeit.timeit(stmt2,setup2,number=100000)

1.1876654959996813

In [117]:
%%timeit
func_one(100)

16.2 µs ± 442 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [118]:
%%timeit
func_two(100)

12.5 µs ± 273 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [119]:
import shutil

In [4]:
import requests

In [5]:
result = requests.get("http://www.example.com")

In [6]:
type(result)

requests.models.Response

In [7]:
result.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.</p>\n    <p><a href="https://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [8]:
import bs4

In [9]:
soup = bs4.BeautifulSoup(result.text,"lxml")

In [10]:
soup

<!DOCTYPE html>
<html>
<head>
<title>Example Domain</title>
<meta charset="utf-8"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<style type="text/css">
    body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }
    </style>
</head>
<body>
<div>
<h1>Example Domain</h1>
<p>This domain is for use in illustrative examples in documents. You may use this
    domain in literature without prior coordination or asking for permission.</p>
<p><a href="https://www.iana.org/domains/example">More information...</a></p>
</div>
</body>
</html>

In [15]:
soup.select('title')[0].getText()

'Example Domain'

In [17]:
site_paragraphs = soup.select("p")

In [22]:
site_paragraphs[0].getText()

'This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.'

In [23]:
res = requests.get('https://en.wikipedia.org/wiki/Grace_Hopper')

In [24]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [26]:
#soup

In [31]:
first_item = soup.select('.toctext')[0]

In [34]:
for item in soup.select('.toctext'):
    print(item.text)

Early life and education
Career
World War II
UNIVAC
COBOL
Standards
Retirement
Post-retirement
Anecdotes
Death
Dates of rank
Awards and honors
Military awards
Other awards
Legacy
Places
Programs
In popular culture
Grace Hopper Celebration of Women in Computing
See also
Notes
Obituary notices
References
Further reading
External links

In [36]:
res = requests.get("https://en.wikipedia.org/wiki/Deep_Blue_(chess_computer)")

In [37]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [40]:
soup.select('.thumbimage')

[<img alt="" class="thumbimage" data-file-height="600" data-file-width="800" decoding="async" height="165" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Kasparov_Magath_1985_Hamburg-2.png/220px-Kasparov_Magath_1985_Hamburg-2.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Kasparov_Magath_1985_Hamburg-2.png/330px-Kasparov_Magath_1985_Hamburg-2.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Kasparov_Magath_1985_Hamburg-2.png/440px-Kasparov_Magath_1985_Hamburg-2.png 2x" width="220"/>]

In [45]:
computer = soup.select('.thumbimage')[0]

In [51]:
computer['src']

'//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Kasparov_Magath_1985_Hamburg-2.png/220px-Kasparov_Magath_1985_Hamburg-2.png'

In [52]:
image_link = requests.get('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Kasparov_Magath_1985_Hamburg-2.png/220px-Kasparov_Magath_1985_Hamburg-2.png')

In [55]:
#image_link.content

In [58]:
f = open('my_computer_image.png','wb')

In [59]:
f

In [60]:
f.write(image_link.content)

85054

In [61]:
f.close()

In [62]:
#Goal: to get title book with a 2 star rating

In [63]:
import requests
import bs4

In [64]:
'http://books.toscrape.com/catalogue/page-2.html'

'http://books.toscrape.com/catalogue/page-2.html'

In [65]:
'http://books.toscrape.com/catalogue/page-3.html'

'http://books.toscrape.com/catalogue/page-3.html'

In [66]:
base_url = 'http://books.toscrape.com/catalogue/page-{}.html'

In [68]:
page_num = 12
base_url.format(page_num)

'http://books.toscrape.com/catalogue/page-12.html'

In [69]:
res = requests.get(base_url.format(1))

In [70]:
soup = bs4.BeautifulSoup(res.text, "lxml")

In [73]:
products = soup.select(".product_pod")

In [74]:
example = products[0]

In [78]:
'star-rating Three' in str(example)

True

In [85]:
example.select(".star-rating.Three")

[<p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [87]:
example.select('a')[1]['title']

'A Light in the Attic'

In [90]:
two_star_titles = []

for n in range(1,51):
    
    scrape_url = base_url.format(n)
    res = requests.get(scrape_url)
    
    soup = bs4.BeautifulSoup(res.text, 'lxml')
    books = soup.select(".product_pod")
    
    for book in books:
        
        if len(book.select('.star-rating.Two')) != 0:
            book_title = book.select('a')[1]['title']
            two_star_titles.append(book_title)

In [91]:
two_star_titles

['Starving Hearts (Triangular Trade Trilogy, #1)',
 'Libertarianism for Beginners',
 "It's Only the Himalayas",
 'How Music Works',
 'Maude (1883-1993):She Grew Up with the country',
 "You can't bury them all: Poems",
 'Reasons to Stay Alive',
 'Without Borders (Wanderlove #1)',
 'Soul Reader',
 'Security',
 'Saga, Volume 5 (Saga (Collected Editions) #5)',
 'Reskilling America: Learning to Labor in the Twenty-First Century',
 'Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics',
 'Obsidian (Lux #1)',
 'My Paris Kitchen: Recipes and Stories',
 'Masks and Shadows',
 'Lumberjanes, Vol. 2: Friendship to the Max (Lumberjanes #5-8)',
 'Lumberjanes Vol. 3: A Terrible Plan (Lumberjanes #9-12)',
 'Judo: Seven Steps to Black Belt (an Introductory Guide for Beginners)',
 'I Hate Fairyland, Vol. 1: Madly Ever After (I Hate Fairyland (Compilations) #1-5)',
 'Giant Days, Vol. 2 (Giant Days #5-8)',
 'Everydata: The Misinformation Hidden in the Little Data You Consume Every Day',
 "Don't Be a Jerk: And Other Practical Advice from Dogen, Japan's Greatest Zen Master",
 'Bossypants',
 'Bitch Planet, Vol. 1: Extraordinary Machine (Bitch Planet (Collected Editions))',
 'Avatar: The Last Airbender: Smoke and Shadow, Part 3 (Smoke and Shadow #3)',
 'Tuesday Nights in 1980',
 'The Psychopath Test: A Journey Through the Madness Industry',
 'The Power of Now: A Guide to Spiritual Enlightenment',
 "The Omnivore's Dilemma: A Natural History of Four Meals",
 'The Love and Lemons Cookbook: An Apple-to-Zucchini Celebration of Impromptu Cooking',
 'The Girl on the Train',
 'The Emerald Mystery',
 'The Argonauts',
 'Suddenly in Love (Lake Haven #1)',
 'Soft Apocalypse',
 "So You've Been Publicly Shamed",
 'Shoe Dog: A Memoir by the Creator of NIKE',
 'Louisa: The Extraordinary Life of Mrs. Adams',
 'Large Print Heart of the Pride',
 'Grumbles',
 'Chasing Heaven: What Dying Taught Me About Living',
 'Becoming Wise: An Inquiry into the Mystery and Art of Living',
 'Beauty Restored (Riley Family Legacy Novellas #3)',
 'Batman: The Long Halloween (Batman)',
 "Ayumi's Violin",
 'Wild Swans',
 "What's It Like in Space?: Stories from Astronauts Who've Been There",
 'Until Friday Night (The Field Party #1)',
 'Unbroken: A World War II Story of Survival, Resilience, and Redemption',
 'Twenty Yawns',
 'Through the Woods',
 'This Is Where It Ends',
 'The Year of Magical Thinking',
 'The Last Mile (Amos Decker #2)',
 'The Immortal Life of Henrietta Lacks',
 'The Hidden Oracle (The Trials of Apollo #1)',
 'The Guilty (Will Robie #4)',
 'Red Hood/Arsenal, Vol. 1: Open for Business (Red Hood/Arsenal #1)',
 'Once Was a Time',
 'No Dream Is Too High: Life Lessons From a Man Who Walked on the Moon',
 'Naruto (3-in-1 Edition), Vol. 14: Includes Vols. 40, 41 & 42 (Naruto: Omnibus #14)',
 'More Than Music (Chasing the Dream #1)',
 'Lowriders to the Center of the Earth (Lowriders in Space #2)',
 'Eat Fat, Get Thin',
 'Doctor Sleep (The Shining #2)',
 'Crazy Love: Overwhelmed by a Relentless God',
 'Carrie',
 'Batman: Europa',
 'Angels Walking (Angels Walking #1)',
 'Adulthood Is a Myth: A "Sarah\'s Scribbles" Collection',
 'A Study in Scarlet (Sherlock Holmes #1)',
 'A Series of Catastrophes and Miracles: A True Story of Love, Science, and Cancer',
 "A People's History of the United States",
 'My Kitchen Year: 136 Recipes That Saved My Life',
 'The Lonely City: Adventures in the Art of Being Alone',
 'The Dinner Party',
 'Stars Above (The Lunar Chronicles #4.5)',
 'Love, Lies and Spies',
 'Troublemaker: Surviving Hollywood and Scientology',
 'The Widow',
 'Setting the World on Fire: The Brief, Astonishing Life of St. Catherine of Siena',
 'Mothering Sunday',
 'Lilac Girls',
 '10% Happier: How I Tamed the Voice in My Head, Reduced Stress Without Losing My Edge, and Found Self-Help That Actually Works',
 'Underlying Notes',
 'The Flowers Lied',
 'Modern Day Fables',
 "Chernobyl 01:23:40: The Incredible True Story of the World's Worst Nuclear Disaster",
 '23 Degrees South: A Tropical Tale of Changing Whether...',
 'When Breath Becomes Air',
 'Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel',
 'The Martian (The Martian #1)',
 "Miller's Valley",
 "Love That Boy: What Two Presidents, Eight Road Trips, and My Son Taught Me About a Parent's Expectations",
 'Left Behind (Left Behind #1)',
 'Howl and Other Poems',
 "Heaven is for Real: A Little Boy's Astounding Story of His Trip to Heaven and Back",
 "Brazen: The Courage to Find the You That's Been Hiding",
 '32 Yolks',
 'Wildlife of New York: A Five-Borough Coloring Book',
 'Unreasonable Hope: Finding Faith in the God Who Brings Purpose to Your Pain',
 'The Art Book',
 'Steal Like an Artist: 10 Things Nobody Told You About Being Creative',
 'Raymie Nightingale',
 'Like Never Before (Walker Family #2)',
 'How to Be a Domestic Goddess: Baking and the Art of Comfort Cooking',
 'Finding God in the Ruins: How God Redeems Pain',
 'Chronicles, Vol. 1',
 'A Summer In Europe',
 'The Rise and Fall of the Third Reich: A History of Nazi Germany',
 'The Makings of a Fatherless Child',
 'The Fellowship of the Ring (The Lord of the Rings #1)',
 "Tell the Wolves I'm Home",
 'In the Woods (Dublin Murder Squad #1)',
 'Give It Back',
 'Why Save the Bankers?: And Other Essays on Our Economic and Political Crisis',
 'The Raven King (The Raven Cycle #4)',
 'The Expatriates',
 'The 5th Wave (The 5th Wave #1)',
 'Peak: Secrets from the New Science of Expertise',
 'Logan Kade (Fallen Crest High #5.5)',
 "I Know Why the Caged Bird Sings (Maya Angelou's Autobiography #1)",
 'Drama',
 "America's War for the Greater Middle East: A Military History",
 'A Game of Thrones (A Song of Ice and Fire #1)',
 "The Pilgrim's Progress",
 'The Hound of the Baskervilles (Sherlock Holmes #5)',
 "The Geography of Bliss: One Grump's Search for the Happiest Places in the World",
 'The Demonists (Demonist #1)',
 'The Demon Prince of Momochi House, Vol. 4 (The Demon Prince of Momochi House #4)',
 'Misery',
 'Far From True (Promise Falls Trilogy #2)',
 'Confessions of a Shopaholic (Shopaholic #1)',
 'Vegan Vegetarian Omnivore: Dinner for Everyone at the Table',
 'Two Boys Kissing',
 'Twilight (Twilight #1)',
 'Twenties Girl',
 'The Tipping Point: How Little Things Can Make a Big Difference',
 'The Stand',
 'The Picture of Dorian Gray',
 'The Name of God is Mercy',
 "The Lover's Dictionary",
 'The Last Painting of Sara de Vos',
 'The Guns of August',
 'The Girl Who Played with Fire (Millennium Trilogy #2)',
 'The Da Vinci Code (Robert Langdon #2)',
 'The Cat in the Hat (Beginner Books B-1)',
 'The Book Thief',
 'The Autobiography of Malcolm X',
 "Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character",
 'Soldier (Talon #3)',
 'Shopaholic & Baby (Shopaholic #5)',
 'Seven Days in the Art World',
 'Rework',
 'Packing for Mars: The Curious Science of Life in the Void',
 'Orange Is the New Black',
 'One for the Money (Stephanie Plum #1)',
 'Midnight Riot (Peter Grant/ Rivers of London - books #1)',
 'Me Talk Pretty One Day',
 'Manuscript Found in Accra',
 'Lust & Wonder',
 "Life, the Universe and Everything (Hitchhiker's Guide to the Galaxy #3)",
 'Life After Life',
 'I Am Malala: The Girl Who Stood Up for Education and Was Shot by the Taliban',
 'House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth',
 'Horrible Bear!',
 'Holidays on Ice',
 'Girl in the Blue Coat',
 'Fruits Basket, Vol. 3 (Fruits Basket #3)',
 'Cosmos',
 'Civilization and Its Discontents',
 "Catastrophic Happiness: Finding Joy in Childhood's Messy Years",
 'Career of Evil (Cormoran Strike #3)',
 'Born to Run: A Hidden Tribe, Superathletes, and the Greatest Race the World Has Never Seen',
 "Best of My Love (Fool's Gold #20)",
 'Beowulf',
 'Awkward',
 'And Then There Were None',
 'A Storm of Swords (A Song of Ice and Fire #3)',
 'The Suffragettes (Little Black Classics, #96)',
 'Vampire Girl (Vampire Girl #1)',
 'Three Wishes (River of Time: California #1)',
 'The Wicked + The Divine, Vol. 1: The Faust Act (The Wicked + The Divine)',
 'The Little Prince',
 'The Last Girl (The Dominion Trilogy #1)',
 'Taking Shots (Assassins #1)',
 'Settling the Score (The Summer Games #1)',
 'Rhythm, Chord & Malykhin',
 'One Second (Seven #7)',
 "Old Records Never Die: One Man's Quest for His Vinyl and His Past",
 'Of Mice and Men',
 'My Perfect Mistake (Over the Top #1)',
 'Meditations',
 'Frankenstein',
 'Emma']

In [92]:
import requests

In [93]:
import bs4

In [94]:
res = requests.get('http://quotes.toscrape.com/')

In [100]:
#res.text

In [98]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [101]:
 soup.select('.author').

[<small class="author" itemprop="author">Albert Einstein</small>,
 <small class="author" itemprop="author">J.K. Rowling</small>,
 <small class="author" itemprop="author">Albert Einstein</small>,
 <small class="author" itemprop="author">Jane Austen</small>,
 <small class="author" itemprop="author">Marilyn Monroe</small>,
 <small class="author" itemprop="author">Albert Einstein</small>,
 <small class="author" itemprop="author">André Gide</small>,
 <small class="author" itemprop="author">Thomas A. Edison</small>,
 <small class="author" itemprop="author">Eleanor Roosevelt</small>,
 <small class="author" itemprop="author">Steve Martin</small>]

In [104]:
authors = set()

for name in soup.select(".author"):
    authors.add(name.text)

In [105]:
authors

{'Albert Einstein',
 'André Gide',
 'Eleanor Roosevelt',
 'J.K. Rowling',
 'Jane Austen',
 'Marilyn Monroe',
 'Steve Martin',
 'Thomas A. Edison'}

In [108]:
quotes = []

for quote in soup.select(".text"):
    quotes.append(quote.text)

In [109]:
quotes

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [114]:
for tag in soup.select(".tag-item"):
    print(tag.text)

love


inspirational


life


humor


books


reading


friendship


friends


truth


simile

In [2]:
url = 'http://quotes.toscrape.com/page/'

In [5]:
authors = set()

for page in range(1,10):
    
    page_url = url+str(page)
    
    res = requests.get(page_url)
    
    soup = bs4.BeautifulSoup(res.text,"lxml")

    for name in soup.select(".author"):
        authors.add(name.text)

NameError: name 'requests' is not defined

In [4]:
authors

set()

In [6]:
hex(12)

'0xc'

In [7]:
hex(512)

'0x200'

In [8]:
bin(1234)

'0b10011010010'

In [9]:
bin(512)

'0b1000000000'

In [19]:
2**4

16

In [20]:
abs(2)

2

In [21]:
 abs(-3)

3

In [24]:
round(3.9)

4

In [26]:
round(3.141592,2)

3.14

In [27]:
s= 'hello world'

In [28]:
s

'hello world'

In [29]:
s.capitalize()

'Hello world'

In [30]:
s

'hello world'

In [31]:
s.upper()

'HELLO WORLD'

In [32]:
s.lower()

'hello world'

In [34]:
s.count('o')

2

In [36]:
s.find('o')

4

In [37]:
s.isalnum()

False

In [38]:
s.isalpha()

False

In [40]:
s.islower()

True

In [41]:
s.isspace()

False

In [42]:
s.istitle()

False

In [43]:
s

'hello world'

In [44]:
s.split('e')

['h', 'llo world']

In [ ]:
#Set

In [45]:
s = set()

In [46]:
s.add(1)

In [47]:
s.add(2)

In [48]:
s

{1, 2}

In [49]:
s.add(2)

In [50]:
s

{1, 2}

In [51]:
s.clear()

In [52]:
s

set()

In [61]:
s = {1,2,3}

In [62]:
sc =s.copy()

In [63]:
sc

{1, 2, 3}

In [64]:
s.add(4)

In [65]:
s

{1, 2, 3, 4}

In [66]:
sc

{1, 2, 3}

In [67]:
s.difference(sc)

{4}

In [68]:
s1 = {1,2,3}

In [69]:
s2 = {1,4,5}

In [70]:
s1.difference_update(s2)

In [71]:
s1

{2, 3}

In [75]:
s

{1, 2, 3, 4}

In [79]:
s.discard(2)

In [80]:
s

{1, 3, 4}

In [84]:
s1 = {1,2,3}

In [85]:
s2 = {1,2,4}

In [86]:
s1.intersection(s2)

{1, 2}

In [87]:
s1

{1, 2, 3}

In [88]:
s1.intersection_update(s2)

In [89]:
s1

{1, 2}

In [90]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [91]:
s1.isdisjoint(s2)

False

In [92]:
s1.isdisjoint(s3)

True

In [101]:
s1

{1, 2}

In [102]:
s2

{1, 2, 4}

In [103]:
s1.issubset(s2)

True

In [104]:
s2.issuperset(s1)

True

In [105]:
s1

{1, 2}

In [106]:
s2

{1, 2, 4}

In [109]:
s1.symmetric_difference(s2)

{4}

In [112]:
s1.union(s2)

{1, 2, 4}

In [113]:
s1.update(s2)

In [114]:
s1

{1, 2, 4}

In [115]:
#Dictionaries

In [117]:
d = {'k1':1,'k2':2}

In [118]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [119]:
#advance list

In [120]:
l = [1,2,3]

In [121]:
l.append(4)

In [122]:
l

[1, 2, 3, 4]

In [123]:
l.count(10)

0

In [125]:
l.count(1)

1

In [128]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [129]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [130]:
l

[1, 2, 3, 4]

In [131]:
l.index(2)

1

In [132]:
l.insert(2,'inserted')

In [133]:
l

[1, 2, 'inserted', 3, 4]

In [134]:
l.pop()

4

In [135]:
l

[1, 2, 'inserted', 3]

In [136]:
bin(1024)

'0b10000000000'

In [137]:
hex(1024)

'0x400'

In [138]:
round(5.23222)

5

In [140]:
s = 'hello how are you Marym, are you feeling okay?'
s.count('w')

1

In [141]:
set1 = {2,3,1,5,6,8}
set2 ={3,1,7,5,6,8}

set1.difference(set2)

{2}

In [142]:
 set1.union(set2)

{1, 2, 3, 5, 6, 7, 8}

In [143]:
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [144]:
l= [1,2,3,4]

l.reverse()

l

[4, 3, 2, 1]

In [145]:
l = [3,4,2,5,1]
l.sort()
l

[1, 2, 3, 4, 5]

In [1]:
#GUI

In [9]:
from ipywidgets import interact,interactive,fixed
import ipywidgets as widgets

In [10]:
def func(x):
    return x

In [15]:
interact(func,x=10)

10

In [16]:
@interact(x=True,y=fixed(1.0))
def g(x,y):
    return (x,y)

(True, 1.0)

In [17]:
interact(func,x=['hello','option 2','option 3'])

'hello'

In [18]:
import ipywidgets as widgets

In [20]:
w = widgets.IntSlider()

In [21]:
from IPython.display import display

In [22]:
display(w)

IntSlider(value=0)

In [24]:
w.value

0

In [25]:
w.keys

['_dom_classes',
 '_model_module',
 '_model_module_version',
 '_model_name',
 '_view_count',
 '_view_module',
 '_view_module_version',
 '_view_name',
 'continuous_update',
 'description',
 'description_tooltip',
 'disabled',
 'layout',
 'max',
 'min',
 'orientation',
 'readout',
 'readout_format',
 'step',
 'style',
 'value']

In [26]:
w.max = 2000

In [28]:
a = widgets.FloatText()

In [29]:
display(a)

FloatText(value=0.0)

In [1]:
carColors = {
    'car1' : 'red',
    'car2' : 'white'
}
color = carColors.get('cart1', 'blue')
print(color)

blue

In [2]:
a = [6,9,2]
b = a[1:].copy()
c = [i for i in a if i not in b]
print(c)

[6]